docker {
    enabled = true
}

params.local_process_resources = params.local_process_resources ?: [:]

process {
    cpus = { params.local_process_resources?.default?.cpus ?: 1 }
    memory = { params.local_process_resources?.default?.memory ?: null }
    time = { params.local_process_resources?.default?.time ?: null }

    withName: 'bam2identity_angsd' {
        cpus = { params.local_process_resources?.angsd_step?.cpus ?: 1 }
        memory = { params.local_process_resources?.angsd_step?.memory ?: null }
        time = { params.local_process_resources?.angsd_step?.time ?: null }
        container = 'quay.io/biocontainers/angsd:0.940--h13024bc_4'
    }

    withName: 'bam2identity_ngsRelate' {
        cpus = { params.local_process_resources?.ngsrelate_step?.cpus ?: 1 }
        memory = { params.local_process_resources?.ngsrelate_step?.memory ?: null }
        time = { params.local_process_resources?.ngsrelate_step?.time ?: null }
        container = 'quay.io/biocontainers/ngsrelate:2.0--hea85c65_0'
    }
}

includeConfig 'configs/slurm.config'
